:root {
    --bg-color: #181c25;
    --font-color:rgb(148, 204, 219);
    --sub-font-color:rgb(219, 79, 54);
    --transition-color: rgb(87, 112, 119);
    --font-arvo: 'Arvo';
    --font-assistant: 'Assistant';
    --font-volk: 'Volkorn';
    --font-playfair: 'Playfair Display';
}

::-webkit-scrollbar {width: 0.25rem;}
::-webkit-scrollbar-thumb {background: var(--transition-color);}
::-webkit-scrollbar-thumb:hover {background: var(--font-color);}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-box-shadow: 0 0 0 30px none inset !important;
    -webkit-text-fill-color: #fff !important;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
html {
    background-color: var(--bg-color);
    overflow-x: hidden;
    /* font-family: 'Assistant'; */
    font-family: var(--font-assistant);
    scrollbar-width: thin;
    scrollbar-color: var(--transition-color) var(--bg-color);
}
article {
    margin-top: 5%;
    margin-bottom: 10%;
}
#intro h3 {
    font-size: 50px;
    padding: 0;
    font-family: var(--font-assistant);
}
#intro p {
    color: var(--sub-font-color);
    font-weight: bold;
}
#intro .text {
    color: var(--font-color);
    font-weight: bold;
}
.fa, .fas {
    color:  var(--font-color);
    filter: grayscale(1);
    opacity: 0.3;
    /* text-align: center; */
}
.fa:hover, .fas:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: 1s;
}
#final-thoughts h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.container {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;
    position: relative;
}
.pathcolor {
    stroke:grey;
    stroke-width: 3px;
    fill: none;
}
.pathcolor:hover {
    cursor: pointer;
}
#svgblock_mini {
    position: relative;
    width: 400px;
    height: 400px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#ele0_0, #ele0_1, #ele0_2, #ele0_3
{
    border-radius: 50%;
    border: none;
    position: absolute;
    background: rgba(255, 223, 107, 1);
    box-shadow: 0px 0px 3px rgba(255, 223, 107, 1),
                0px 0px 5px rgba(255, 223, 107, 1);
    width: 10px;
    height: 2px;
    top: 19px;
    left: 16px;
}

#ele1_0, #ele1_1, #ele1_2, #ele1_3
{
    border-radius: 50%;
    border: none;
    position: absolute;
    background: rgba(255, 223, 107, 1);
    box-shadow: 0px 0px 3px rgba(255, 223, 107, 1),
                0px 0px 5px rgba(255, 223, 107, 1);
    opacity: 0;
    width: 10px;
    height: 2px;
    top: 33px;
    left: 29px;
}
h3, h4, p, ul, li{
    color: var(--font-color);
    margin-left: 15%;
    margin-right: 15%;
    text-decoration: none;
}
a {
    color: var(--font-color);
    text-decoration: none;
}
.q h4, .q {
    font-weight: bold;
    color: var(--sub-font-color);
}
canvas {
    background-color:  var(--bg-color);
    position: relative;
}
nav {
    display: none;
    opacity: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: rgb(207, 242, 252);
    overflow: hidden;
    top: 0;
    align-content: end;
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 50;
}
.sticky + .body {
    width: 100%;
    padding-top: 50px;
}
.nav-link {
    justify-content: center;
    filter: grayscale(60%);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5vh;
    display: none;
    margin-bottom: 5vh;
    margin-left: 5%;
    margin-right: 5%;
}
.nav-link:hover{
    filter: grayscale(0%)
}
.fa:hover, .fas:hover, .far:hover, a:hover {
    cursor: pointer;
}
#pam3-signal {
    height: 100px;
    width: 100px;
}
.contact-form {
    text-align: center;
}
.contact-form h3 {
    font-size: 40px;
}
form {
    margin-top: 50px;
    transition: all 4s ease;
    width: 100%;
    text-align: center;
}
.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 8px;
}
#check {
    text-align: center;
    margin: auto;
}
.g-recaptcha {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
}
#submit-btn {
    background-color: transparent;
    vertical-align: middle;
    color: var(--font-color);
    font-weight: bolder;
    width: 100px;
    height:80px;
    border-radius: 5%;
    border:1px solid var(--font-color);
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    transition: 1s;
}
#submit-btn:hover {
    background-color: #2b3242;
}
textarea {
    resize: none;
    height: 200px;
}
input{
    height: 45px;
}
#final-thoughts {
    margin-bottom: 50px;
}
.contact {
    width: 500px;
    margin-left: 10%;
}
.contact a {
    padding: 5px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    width: 50px;
    height: 50px;
    float: right;
}
.contact-2 {
    width: 500px;
    margin-left: 10%;
    /* display: flex; */
    float: center;
    margin-top: 5%;
}
.contact-2 a {
    padding: 5px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    width: 50px;
    height: 50px;
    float: center;
}
.contact-3 {
    position: relative;
    margin: auto;
}
footer {
    color: rgb(148, 204, 219);
    width: 100%;
    height: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.graph {
    justify-content: center;
    display: flex;
}
canvas {
    max-width: 800px;
}
#github, #email, #question, #heart, #donate{
    font-size: 30px;
    text-justify: center;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: var(--font-color);

}
#github .text, #email .text, #question .text, #heart .text, #donate .text{
    opacity: 0;
    font-size: 12px;
    padding-top: 8px;
    font-weight: bolder;
    text-justify:center;
    display: table-cell;
}
#github:hover .text, #email:hover .text, #question:hover .text, #donate:hover .text, #heart:hover .text {
    opacity: 1;
}

#license {
    position: relative;
    text-justify: center;
}

@media only screen and (min-width: 1000px){
    #intro {
        display: flex;
        padding-right: 4%;
        padding-left: 4%;
        transition: all 1s;
        margin-right: 4%;
        margin-left: 0%;
    }
    #intro h3{
        margin-bottom: 10px;
        
    }
    .contact {
        display: block;
        transition: all 1s;
    }
    .contact-2 {
        display: none;
        transition: all 1s;
    }
    #welcome-panel{
        padding-left: 0;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 1000px){
    #intro {
        padding-bottom: 10vh;
        text-align: center;
    }
    article {
        padding-left: 0;
        padding-right: 0;
    }

    #intro h3 {
        padding-left: 0;
        margin-left: 5%;
        margin-bottom: 10px;
        transition: all 1s;
    }
    .contact {
        display: none;
        transition: all 1s;
    }
    #intro p {
        margin-top: 0;
    }
    .contact-2 {
        display: block;
        transition: all 1s;
    }
}